* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* :root {
} */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color:gainsboro;
}
h1 {
  color:cadetblue;  
  font-size: 4rem;
}
h2 {
    font-size: 3rem;
    color:darksalmon;
}